.menucolor{

    background-color: #38B6FF !important;
  
}
#login{
    width: 500px;
    height: 344px;
}
.btn2{
    color:#FF914D;
    background-color:#FFFFFF;
}
.btn{
    align-content: center;
    color:#FFFFFF;
    background-color:#FF914D;
    width: 268px;
    height: 34px;
}

/*img{

    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 90px;
    margin: 20px 90px;
}*/



.imgsize{ 
    max-width: 10% !important;
}


.letracolor{
    color:white !important;

}

.onlyblack a{ 
    color: black !important;
}