.menu{

    background-color: #22d7ff;
    width: 100%;
    height: 150px;
}

.btn{

    margin: 90px 15px;
    background-color: #49576b;
    color: #22d7ff;
}

img{

    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 90px;
    margin: 20px 90px;
}